.no-posts-here {
  text-align: center;
}
 
.post {}
 
.post .post__meta {
  font-weight: bold;
  text-align: right;
  padding-bottom: 19px;
}
 
.post .post__meta a:hover {
  text-decoration: none;
}

.btn-add-new-post {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

.navbar, .navbar-default {
	background-color: #593563;
}

.btn-primary:not(.btn-link):not(.btn-flat) {
	background-color: #4AD2AE;
}

a {
	color: #ff4081;
}