{% load compress %}
{% load staticfiles %}

{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/material.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/ripples.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/ngDialog.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/ngDialog-theme-default.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'css/snackbar.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
{% endcompress %}
